{% extends "base_generic.html" %}


<head>
  {% block title %}
      <title>index</title>
    {% endblock %}
  </head>
{% block content %}
  <h1>General Page</h1>

 <h2>Orders</h2>

        {% for order in orders %}
<ul>

  <li><strong>Title:</strong> {{ order.title }}</li>
  <li><strong>Category:</strong> {{ order.category }}</li>
  <li><strong>Image:</strong> <image src="{{order.image.url }}" style="height: 100px; width: 100px;"></image></li>
  <li><strong>Timestamp:</strong> {{ order.order_time }}</li>

</ul>
    {% endfor %}


<p>
  In working: {{ in_working }}.
</p>
{% endblock %}